@font-face {
  font-family: 'LeagueGothic';
  src: url('../fonts/leaguegothic-regular-webfont.eot');
  src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
       url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSansRegular.eot");
    src: url("../fonts/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
         url("../fonts/OpenSansRegular.woff") format("woff"),
         url("../fonts/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,
blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,
em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,
dl,dt,dd,ol,ul,li,header,fieldset,form,label,legend,table,
caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,
details,figcaption,figure,footer,menu,nav,section,
summary,main {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style: none;
}

.to-left {
  float: left;
}

.to-right {
  float: right;
}

.c-align {
  text-align: center;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

.checkbox input {
  position: relative;
  top: 2px;
}

.checkbox label {
  display: block;
  cursor: pointer;
}

.shadow {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after {
  display: table;
  clear: both;
  content: " ";
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 200px;
  color: #454545;
  background: #f9f9f9;
  font-family: OpenSans, serif;
  font-size: 16px;
  font-weight: 300;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.relative {
  position: relative;
}

.content--wrapper {
  float: left;
  width: 50%;
}

p {
  font-family: OpenSans;
  line-height: 24px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: LeagueGothic, serif;
  font-weight: 400;
}

h2 {
  font-size: 48px;
}

h4 {
  font-size: 30px;
}

.read-more-link {
  float: right;
  text-transform: uppercase;
  font-family: LeagueGothic, serif;
  font-size: 18px;
}

.content {
  padding-top: 75px;
  padding-bottom: 65px;
  border-bottom: 1px solid #e6e6e6;
}

.logos {
  text-align: center;
}

.logos img {
  display: inline-block;
  margin: 24px 32px;
}

/* categories */
.category--extranews {
  display: none;
}

.categories {
  padding-top: 96px;
  padding-bottom: 35px;
  background-color: #ececec;
}

.category {
  float: left;
  overflow: hidden;
  width: 30%;
  height: 210px;
  margin-right: 5%;
  margin-bottom: 60px;
}

.category p {
  padding-top: 7px;
  text-align: justify;
}

.category--news {
  margin-right: 0;
}

.light-decor {
  color: #b9b9b9;
}

.italic-decor {
  padding-top: 6px;
  color: #c5c5c5;
  text-shadow: 1px 1px 0px #fff;
  font-family: "Georgia";
  font-style: italic;
}

/* icons */
.icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: middle;
  background: url(../img/icons/icons.png) 0 0 no-repeat;
}

.icon-settings {
  background-position: 0 0;
}

.icon-comment {
  background-position: -31px 0;
}

.icon-music {
  background-position: -63px 0;
}

.icon-radio {
  display: inline-block;
  width: 24px;
  height: 24px;
  cursor: pointer;
  vertical-align: middle;
  background: url(../img/icons/slider.png) 0 0 no-repeat;
}

.icon-radio-dark-off {
  background-position: -44px 0;
}

.icon-radio-dark-on {
  background-position: -66px 0;
}

.icon-radio-light-off {
  background-position: 0 0;
}

.icon-radio-light-on {
  background-position: -23px 0;
}

.radio-group {
  text-align: center;
}

header {
  height: 850px;
  color: #fff;
  background: url(../img/header/bg.jpg) no-repeat center #d1bcc6;
  background-size: cover;
}

header > .container {
  height: 280px;
  padding-top: 70px;
}

header nav {
  float: right;
}

header .menu {
  font-size: 24px;
}

header .menu--inline .menu__item {
  margin-left: 52px;
}

header .menu--dropdown {
  display: none;
}

#logo {
  display: inline-block;
  padding-bottom: 24px;
}

.menu {
  text-transform: uppercase;
  text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
  font-family: LeagueGothic;
}

.menu .menu__item {
  vertical-align: middle;
}

.menu--inline .menu__item {
  display: inline-block;
}

.menu--inline a:hover {
  border-bottom: 2px solid #edbfff;
}

.menu--dropdown {
  position: absolute;
  z-index: 9999;
  top: 130px;
  right: 0;
  left: 0;
  width: 250px;
  margin: 0 auto;
  text-align: center;
  opacity: 0.9;
  border: 1px solid #051116;
  border-radius: 8px;
  background-color: #3c3044;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.menu--dropdown .menu__item {
  display: block;
  padding: 6px 70px;
  border-top: 1px solid #523e5a;
  border-bottom: 2px solid #36283e;
}

.menu--dropdown .menu__item:hover {
  border-bottom: 2px solid #edbfff;
  background-color: #2b2232;
}

.menu--dropdown .menu__item:first-child {
  border-top: none;
}

.menu--dropdown .menu__item:last-child {
  border-bottom: none;
}

.slider {
  height: 400px;
  background: rgba(0, 0, 0, 0.2);
}

.slider .container {
  text-align: center;
}

.slider .text-view {
  display: inline-block;
  float: left;
  overflow-y: hidden;
  width: 53%;
  padding-top: 70px;
  text-align: left;
  font-size: 18px;
}

.slider h1 {
  font-size: 320%;
}

.slider h3 {
  color: #edbfff;
  font-size: 160%;
}

.slider .phone-view {
  position: relative;
  top: -18px;
  right: 70px;
  display: inline-block;
  float: right;
  width: 274px;
}

.slider .phone-clear__img {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  max-height: 100%;
}

.slider .phone-fuzzy__img {
  float: left;
  width: 50%;
  margin: 28% 0;
}

.slider .phone-play-button {
  position: absolute;
  z-index: 11;
  top: 0;
  left: 0;
  margin: 55% 0 0 49%;
}

.slider .slider-radio {
  position: absolute;
  top: 490px;
  right: 158px;
}

.about {
  padding-bottom: 40px;
  color: #fff;
  background: -moz-linear-gradient(#745083, #322539);
  background: linear-gradient(#745083, #322539);
  text-shadow: 1px 1px 1px #0f1518;
}

.about .menu--about {
  padding-top: 70px;
}

.about .menu__item {
  position: relative;
  display: inline-block;
  width: 31%;
  margin-bottom: 30px;
  margin-left: 1%;
  margin-left: 1%;
  padding-left: 66px;
}

.about .menu__item:last-child {
  margin-right: 0;
}

.about h4 {
  font-weight: 400;
}

.about p {
  overflow: hidden;
  height: 120px;
  margin: 4px 0 16px;
  font-weight: 300;
}

.about a:hover {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}

.about .icon {
  position: absolute;
  top: 8px;
  left: 12px;
}

.quote {
  position: relative;
  margin: 20px 25px;
  padding: 27px 34px;
  border: 2px solid #fff;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.quote img {
  position: absolute;
  top: 16px;
  left: -25px;
}

.quote a {
  color: #edbfff;
}

.quote p {
  overflow-y: hidden;
  height: 180px;
  padding-top: 7px;
  letter-spacing: -0.4px;
}

.quote:after {
  position: absolute;
  right: 20px;
  bottom: -30px;
  content: '';
  border-right: 30px solid #fff;
  border-bottom: 30px solid transparent;
}

.recent {
  padding: 52px 0 0 30px;
  white-space: nowrap;
}

.recent .menu__item {
  position: relative;
  overflow: hidden;
  padding: 10px 0px 12px 65px;
}

.recent img {
  position: absolute;
  top: 11px;
  left: 0;
}

.recent .menu_link {
  font-weight: 700;
}

.recent p {
  letter-spacing: -0.5px;
}

.recent .read-more-link {
  padding: 10px 20px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  color: #fff;
  background: url(../img/footer/bg.jpg) center no-repeat #635e6d;
  background-size: cover;
}

footer .menu {
  margin-top: 42px;
  font-size: 20px;
}

footer .menu .menu__item {
  margin-right: 44px;
}

footer .disign-link {
  float: right;
  padding: 30px 10px;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
  font-size: 12px;
}

footer .disign-link a {
  font-weight: 700;
}

@media (max-width: 959px) {
  h4 {
    font-size: 24px;
  }

  .container {
    padding-right: 20px;
    padding-left: 20px;
  }

  header {
    height: 800px;
  }

  header > .container {
    height: 242px;
  }

  header nav {
    float: left;
  }

  header .menu--inline .menu__item {
    margin-right: 52px;
    margin-left: 0;
  }

  #logo {
    display: block;
  }

  .slider .text-view {
    height: 275px;
    padding: 92px 20px 0;
    padding: 92px 0 0 20px;
    font-size: 16px;
  }

  .slider .phone-view {
    right: 30px;
  }

  .slider .slider-radio {
    top: 430px;
    right: 138px;
  }

  .category--extra {
    display: none;
  }

  .category--extranews {
    display: block;
  }

  .logos img {
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  header {
    height: 550px;
  }

  header > .container {
    height: 200px;
    text-align: center;
  }

  header nav {
    float: none;
  }

  header .menu--inline {
    display: none;
  }

  header .menu--dropdown {
    display: block;
  }

  #logo {
    float: none;
  }

  .slider {
    height: 246px;
  }

  .slider .text-view {
    font-size: 11px;
  }

  .slider .text-view p {
    display: none;
  }

  .slider .phone-view {
    top: -8px;
    right: 11px;
    width: 190px;
  }

  .slider .phone-play-button {
    margin: 54% 0 0 44%;
  }

  .slider .phone-play-button img {
    width: 72%;
  }

  .slider .slider-radio {
    top: 265px;
    right: 0;
    left: 0;
  }

  .about .menu__item {
    display: block;
    width: 98%;
    margin-bottom: 50px;
  }

  .about .menu__item p {
    height: 75px;
  }

  .content--wrapper {
    width: 100%;
  }

  .content h4 {
    font-size: 30px;
  }

  .category {
    width: 100%;
    height: 110px;
    margin-right: 0;
  }

  .logos img {
    margin-right: 30px;
    margin-left: 30px;
  }

  footer {
    text-align: center;
  }

  footer .menu .menu__item {
    margin: 0 2%;
  }

  footer .disign-link {
    float: none;
  }
}

@media (max-width: 479px) {
  header {
    height: 516px;
  }

  header .menu--inline {
    display: block;
  }

  header .menu--inline .menu__item {
    margin: 0;
  }

  header .menu__item:not(:nth-child(1)) {
    display: none;
  }

  header .menu--dropdown {
    display: none;
  }

  .slider {
    background: none;
  }

  .slider .phone-view {
    display: none;
  }

  .slider .text-view {
    display: inline-block;
    float: none;
    width: auto;
  }

  .slider .slider-radio {
    top: 215px;
  }

  .content .quote h4 {
    font-size: 24px;
  }

  .content .recent {
    padding: 52px 6px 0;
  }

  .categories {
    display: none;
  }

  .logos img {
    margin-right: 20px;
    margin-left: 20px;
  }

  footer .menu {
    display: none;
  }
}
